body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 1;
}

.header__logo {
    height: 30px;
}

a {
    text-decoration: none;
    color: #213053;
}

header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
}

button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
}

.about {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 115px;
    padding-bottom: 115px;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.orb-canvas {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.about__info {
    max-width: 550px;
}

.about h1 {
    font-size: 70px;
    line-height: 76px;
}

.about p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}

.about button {
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
}

.about__solar-image {
    width: 500px;
}



@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}


.about__sun-image {
    width: 100px;
    height: 100px;
    animation: rotation 10s linear infinite;
    position: absolute;
}

/**** features *****/

.features {
    background-color: #fff;
    padding: 115px 60px;
}

.card__logo {
    width: 100px;
    height: 100px;
    background-color: #eaeff9;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    font-weight: 700;
    background-color: #eaeff9;
}

.fa-solar-panel {
    color: #ffb406;
}

.card__logo p {
    color: #ad1714;
}

.fa-chart-line {
    color: #22a030;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card {
    padding: 35px 40px 25px 40px;
    border: solid 1px #D9E4E6;
}

.card h3 {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.8;
}

.features__border {
    margin: 50px 0;
    border: solid 1px #E6EAF4
}

.features__feedback {
    display: flex;
    justify-content: space-around;
}

.features__feedback-left {
    margin-right: 10px;
}

.features__feedback-left h2 {
    font-size: 48px;
}

.features__feedback-left p {
    font-size: 18px;
    line-height: 26px;
    opacity: 0.7;
}

.features__feedback-right {
    display: flex;
    justify-content: space-around;
}

.features__box {
    padding: 30px 40px 25px 40px;
    color: #fff;
    border-radius: 25px;
}

.features__box h3 {
    padding-bottom: 20px;
    font-size: 48px;
}

.features__savings-box {
    margin-right: 30px;
    background-color: #dc5e26;
    box-shadow: 0 6px 0px rgb(221 95 38 / 20%);
}

.features__rate-box {
    background-color: #1D263A;
    box-shadow: 0 6px 0px rgb(29 38 58 / 20%);

}

.fa-star {
    color: #ff7039;
}

/**** promo ****/
.promo {
    display: flex;
}

.promo__image {
    width: 50%;

    background-image: url('img/promo.jpg');
    background-position: center;
    background-size: cover;
    flex-shrink: 0;

}

.promo__right {
    background-color: #dd5f26;
    padding: 160px 60px;
}

.promo__right-card {
    background-color: #fff;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    border-radius: 25px;
}

.promo__right-card p::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
    display: inline-block;
    background-color: #ec6b29;
}

.promo__right-card p {
    opacity: 0.8;
}

.promo__right-button {
    display: flex;
    justify-content: center;
}

.promo__right-button button {
    background-color: #107b1c;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
}

.promo__right-button button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
}

.promo__right-button button i {
    font-size: 15px;
    margin-left: 5px;
}

/**** form *****/
.form {
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.form__container {
    width: 550px;
}

.form h1 {
    font-size: 48px;
}

.form p {
    font-size: 18px;
    opacity: 0.65;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form form {
    margin-top: 60px;

    display: grid;
    grid-gap: 20px;

}

.form label {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;

}

.form input,
.form select {
    font-size: 18px;
    color: #213053;
}

.form__submit {
    font-size: 18px;
    font-weight: 600;
}

select {
    appearance: none;
}

input {
    outline: none;
}

/**** footer ****/
footer {
    padding: 90px 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copiright {
    padding-top: 40px;
    text-align: center;
    opacity: 0.5;
}

.footer__group {
    padding-right: 80px;
}

footer h3 {
    font-size: 16px;
    opacity: 0.7;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__links a {
    margin-bottom: 15px;
}

/**** mobail ****/
@media (max-width: 720px) {
    header {
        padding: 0 20px;
    }

    .about {
        padding: 50px 20px;
    }

    .about__solar-image {
        width: 280px;
    }

    .about__sun-image {
        width: 75px;
        height: 75px;
    }

    .about h1 {
        font-size: 36px;
        line-height: 40px;
    }

    /**** features ****/
    .features {
        padding: 50px 10px;
    }

    .cards {
        grid-template-columns: auto;
    }

    .features__feedback {
        flex-direction: column;
    }

    .features__feedback-left h2 {
        font-size: 36px;
    }

    .features__feedback-right {
        flex-direction: column;
    }

    .features__box h3 {
        font-size: 36px;
    }

    .features__savings-box {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    /*** promo ***/
    .promo {
        flex-direction: column-reverse;
    }

    .promo__right {
        padding: 50px 10px;
    }

    .promo__image {
        width: 100%;
        height: 500px;
    }

    /*** forms ****/
    .form {
        padding: 50px 20px;
    }

    footer {
        padding: 0 20px;
    }

}

@media (max-width: 320px) {

    header {
        padding: 0 10px;
    }

    .header__logo {
        height: 20px;
    }

    .about {
        padding: 50px 10px;
        flex-direction: column-reverse;

    }

    .form {
        padding: 50px 10px;
    }

    .footer__container {
        flex-direction: column;
        align-items: start;
    }

    .form__container h1 {
        font-size: 36px;
        line-height: 40px;
    }

    footer {
        padding: 0 10px;
    }


}